.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px; /* Adjust the width as needed */
    background-color: #f0f0f0;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.collapsed {
    transform: translateX(-63%);
  }
  
  .sidebar-header {
    position: absolute;
    left: 0px;
    top: 3%;
    padding: 0 20px;
    z-index: 1;
  }
  
  .sidebar-menu {
    overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
    padding-top: 15%;
  }

  .toggle-btn svg {
    width: 24px;
    height: 24px;
    fill: #333;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  .menu-item a i {
    margin-right: 10px;
  }